@font-face {
    font-family: "mario";
    src:url("../other/mariofont.ttf");
}

body{
    background: url(../images/marioback.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.gameboard{
    font-family: 'mario', 'Times New Roman', Times, serif;
    background-color: aqua;

}
.jumbotron{
    font-family: 'mario', 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 900;
    color: red;
    background-color: transparent;
}
.titlebit{
    background-color: black;
}